<h3 style="text-align: center;">Coworkin vous propose plusieurs solution de paiement en fonction de vos besoin</h3>
<div style="width: 80%;display: flex; " >
<mat-card class="example-card" style="width: 40%;margin-left: 20%">
      <mat-card-header>
      <mat-card-title>Abonnement résident</mat-card-title>
      <mat-card-subtitle>24€/mois ou  20€/mois pendant 12 mois</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/absimple.jpg">
      <mat-card-content>
       <h4>Réservation d'une salle</h4>

              <div style="display: flex;"><li style="margin-left: 5%">4€ par heure</li>
              <li style="margin-left: 10%">20€ la journée (5 heures ou plus)</li></div>
             <h4>Autres avantages</h4>

                 <div>
                 <div>
                   <li style="margin-left: 10%;display: inline">Accès open space</li>
                   <li style="margin-left: 19%;display: inline">Snacking & boissons à volonté </li>
                 </div>
                 <div>
                   <li style="margin-left: 10% ;display: inline">Cabines téléphonique</li>
                   <li style="margin-left: 15%;display: inline;">Wifi</li>
                 </div>
                 <div>
                   <li style="margin-left: 10% ;display: inline">Accès libre à tous les espaces</li>
                   <li style="margin-left: 5% ;display: inline">Accès premium au HUB</li>
                 </div>
                 </div>

      </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button (click)="openDialog()" matBadge="!" matBadgeColor="warn"  color="primary" style="margin-left:80%">S'abonner</button>
      </mat-card-actions>
      </mat-card>



  <mat-card class="example-card" style="width: 40%;margin-left: 5%">
  <mat-card-header>
  <mat-card-title>Abonnement résident</mat-card-title>
  <mat-card-subtitle>300€/mois ou  252€/mois pendant 8 mois</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/abresidentjpg.jpg">
  <mat-card-content>
   <h4>Réservation d'une salle</h4>

  <div><li style="margin-left: 5%">Accès en ilimité 7/7j a l'espace de coworking</li></div>
         <h4>Autres avantages</h4>

             <div>
             <div>
               <li style="margin-left: 10%;display: inline">Accès open space</li>
               <li style="margin-left: 19%;display: inline">Snacking & boissons à volonté </li>
             </div>
             <div>
               <li style="margin-left: 10% ;display: inline">Cabines téléphonique</li>
               <li style="margin-left: 15%;display: inline;">Wifi</li>
             </div>
             <div>
               <li style="margin-left: 10% ;display: inline;">Accès libre à tous les espaces</li>
               <li style="margin-left: 5% ;display: inline;  text-align: right;" >Accès premium au HUB</li>
             </div>
             </div>

  </mat-card-content>
  <mat-card-actions>
  <button mat-raised-button (click)="openDialog()" matBadge="!" matBadgeColor="warn"  color="primary" style="margin-left:80%">S'abonner</button>
  </mat-card-actions>
  </mat-card>


  </div>





<!--   <mat-card-content>


       </mat-card-content> -->
