  <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">TERNES</div>
                        <h2>Nos locaux à Ternes sont prêt à vous accueillir !</h2>
                        <div style="display: flex;flex-direction: column">
                        <h5>Horaires :</h5>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Lundi à Jeudi : de 8h à 21h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Vendredi: de 9h à 23h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Samedi à Dimanche : de 9h à 20h</p></div>

                        </div>
                           <div style="display: flex;flex-direction: column">
                                           <div>
                                           <mat-icon style="color: green"> phone</mat-icon>
                                           <span class="aligned-with-icon">06 78 78 78 78</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: green"> place</mat-icon>
                                           <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: skyblue"> wifi</mat-icon>
                                           <span class="aligned-with-icon">Wifi très haut débit</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> score</mat-icon>
                                           <span class="aligned-with-icon">7 Salles de réunion réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> contact_phone</mat-icon>
                                           <span class="aligned-with-icon">5 Salles d'appel</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: orange">mms</mat-icon>
                                           <span class="aligned-with-icon">4 salons cosy</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                           <span class="aligned-with-icon">Boissons à volontés</span>
                                           </div>
                                         </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7" style="margin-top:7%;">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/nternes.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div>
              <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

  <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
            <div class="col-lg-7" style="margin-top:7%;">
                                <div class="image-container">
                                    <img class="img-fluid" src="assets/nbeaubourg.jpg" alt="alternative">
                                </div> <!-- end of image-container -->
                            </div>
            <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">BEAUBOURG</div>
                        <h2>Nos locaux à Beaubourg sont prêt à vous accueillir !</h2>
                        <div style="display: flex;flex-direction: column">
                        <h5>Horaires :</h5>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Lundi à Jeudi : de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Vendredi: de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Samedi à Dimanche : de 11h à 20h</p></div>
                        </div>
                        <div style="display: flex;flex-direction: column">
                                           <div>
                                           <mat-icon style="color: green"> phone</mat-icon>
                                           <span class="aligned-with-icon">06 78 78 78 78</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: green"> place</mat-icon>
                                           <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: skyblue"> wifi</mat-icon>
                                           <span class="aligned-with-icon">Wifi très haut débit</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> score</mat-icon>
                                           <span class="aligned-with-icon">2 Salles de réunion réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> contact_phone</mat-icon>
                                           <span class="aligned-with-icon">3 Salles d'appel réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: orange">mms</mat-icon>
                                           <span class="aligned-with-icon">1 salons cosy</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                           <span class="aligned-with-icon">Boissons à volontés</span>
                                           </div>
                                         </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->

              <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

  <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">BASTILLE</div>
                        <h2>Nos locaux à Bastille sont prêt à vous accueillir !</h2>
                        <div style="display: flex;flex-direction: column">
                        <h5>Horaires :</h5>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Lundi à Jeudi : de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Vendredi: de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Samedi à Dimanche : de 11h à 20h</p></div>
                        </div>
                           <div style="display: flex;flex-direction: column">
                                           <div>
                                           <mat-icon style="color: green"> phone</mat-icon>
                                           <span class="aligned-with-icon">06 78 78 78 78</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: green"> place</mat-icon>
                                           <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: skyblue"> wifi</mat-icon>
                                           <span class="aligned-with-icon">Wifi très haut débit</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> score</mat-icon>
                                           <span class="aligned-with-icon">2 Salles de réunion réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> contact_phone</mat-icon>
                                           <span class="aligned-with-icon">3 Salles d'appel réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: orange">mms</mat-icon>
                                           <span class="aligned-with-icon">1 salon cosy</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                           <span class="aligned-with-icon">Boissons à volontés</span>
                                           </div>
                                         </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7" style="margin-top:7%;">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/nbastille.jpeg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div>
              <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
  <div id="intro" class="basic-1">
            <div class="container">
                <div class="row">
                <div class="col-lg-7" style="margin-top:7%;">
                                    <div class="image-container">
                                        <img class="img-fluid" src="assets/nodeon.jpg" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="section-title">ODEON</div>
                            <h2>Nos locaux à Odéon sont prêt à vous accueillir !</h2>
                        <div style="display: flex;flex-direction: column">
                        <h5>Horaires :</h5>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Lundi à Jeudi : de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Vendredi: de 9h à 20h</p></div>
                        <div style="display: flex;flex-direction: row;margin-left: 2%;"><p>Samedi à Dimanche : de 11h à 20h</p></div>
                        </div>
                                               <div style="display: flex;flex-direction: column">
                                               <div>
                                               <mat-icon style="color: green"> phone</mat-icon>
                                               <span class="aligned-with-icon">06 78 78 78 78</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: green"> place</mat-icon>
                                               <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: skyblue"> wifi</mat-icon>
                                               <span class="aligned-with-icon">Wifi très haut débit</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: black"> score</mat-icon>
                                               <span class="aligned-with-icon">4 Salles de réunion reservables</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: black"> contact_phone</mat-icon>
                                               <span class="aligned-with-icon">2 Salles d'appel</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: orange">mms</mat-icon>
                                               <span class="aligned-with-icon">2 salons cosy</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                               <span class="aligned-with-icon">Boissons à volontés</span>
                                               </div>
                                             </div>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->

                  <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>

  <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">REPUBLIQUE</div>
                        <h2>Nos locaux à République sont prêt à vous accueillir !</h2>
                        <p>Plusieurs site sont présent sur Paris comportant differents espace afin que vous et vos équipe soit dans les meilleurs conditions pour realiser vos projets  </p>
                           <div style="display: flex;flex-direction: column">
                                           <div>
                                           <mat-icon style="color: green"> phone</mat-icon>
                                           <span class="aligned-with-icon">06 78 78 78 78</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: green"> place</mat-icon>
                                           <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: skyblue"> wifi</mat-icon>
                                           <span class="aligned-with-icon">Wifi très haut débit</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> score</mat-icon>
                                           <span class="aligned-with-icon">7 Salles de réunion réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: black"> contact_phone</mat-icon>
                                           <span class="aligned-with-icon">5 Salles d'appel réservables</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: orange">mms</mat-icon>
                                           <span class="aligned-with-icon">4 salons cosy</span>
                                           </div>
                                           <div>
                                           <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                           <span class="aligned-with-icon">Boissons à volontés</span>
                                           </div>
                                         </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7" style="margin-top:7%;">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/nrepublique.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div>
              <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

  <div id="intro" class="basic-1">
            <div class="container">
                <div class="row">
                <div class="col-lg-7" style="margin-top:7%;">
                                    <div class="image-container">
                                        <img class="img-fluid" src="assets/nplacedit.jpg" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div>
                    <div class="col-lg-5">
                        <div class="text-container">
                            <div class="section-title">Place d'italie</div>
                            <h2>Nos locaux à Place d'Italie sont prêt à vous accueillir !</h2>
                            <p>Plusieurs site sont présent sur Paris comportant differents espace afin que vous et vos équipe soit dans les meilleurs conditions pour realiser vos projets  </p>
                               <div style="display: flex;flex-direction: column">
                                               <div>
                                               <mat-icon style="color: green"> phone</mat-icon>
                                               <span class="aligned-with-icon">06 78 78 78 78</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: green"> place</mat-icon>
                                               <span class="aligned-with-icon">3 rue du faubourg saint antoine</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: skyblue"> wifi</mat-icon>
                                               <span class="aligned-with-icon">Wifi très haut débit</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: black"> score</mat-icon>
                                               <span class="aligned-with-icon">5 Salles de réunion réservables</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: black"> contact_phone</mat-icon>
                                               <span class="aligned-with-icon">4 salles d'appel réservables</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: orange">mms</mat-icon>
                                               <span class="aligned-with-icon">3 salons cosy</span>
                                               </div>
                                               <div>
                                               <mat-icon style="color: saddlebrown"> local_drink</mat-icon>
                                               <span class="aligned-with-icon">Boissons à volontés</span>
                                               </div>
                                             </div>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->

                  <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
    </div>
