@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.logout-label{
  margin-left: 85%;
}

.login{
  margin-left: 85%;
}
.ico{
  margin-left: 0.5%;
}
mat-drawer-container {min-height: 80%}

mat-drawer-content { display: block; height: 100%; }
main { height: 100%; overflow-y: auto; }

