
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="this.router.navigate(['/']);">Co Working</span>
    <span class="example-spacer"></span>
    <div *ngIf="isLogged(); then thenBlock else  elseBlock;"></div>
    <ng-template #thenBlock><label class="logout-label">Deconnexion</label><mat-icon class="ico" (click)="logout()">logout</mat-icon></ng-template>
    <ng-template #elseBlock><label class="login" >Connectez-vous</label><mat-icon class="ico" (click)="this.router.navigate(['/']);">login</mat-icon></ng-template>
  </mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" style="width:400px" #drawer closed>
    <mat-nav-list>
        <div *ngIf="isLogged(); then thenBlock1 else elseBlock2;"></div>
        <ng-template #thenBlock1>
        <a mat-list-item href="/my-account">Mon compte</a></ng-template>
        <a mat-list-item href="/open-detail">Nos open-space</a>
        <a mat-list-item href="/reservation">Creer une nouvelle Reservation</a>
        <a mat-list-item href="/reservation-list">Mes réservations</a>
        <ng-template #elseBlock2>
        <a mat-list-item href="/login">Login</a>
        <a mat-list-item href="/register">Register</a>
        </ng-template>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>

<main><router-outlet></router-outlet></main>
</mat-drawer-content>
</mat-drawer-container>
