
  <!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>-->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <div class="bendo">
      <form [formGroup]="firstFormGroup" style="width: 30%;display: inline-block;">
        <ng-template matStepLabel>Choisissez une salle disponible</ng-template>
          <mat-form-field appearance="fill" style="width: 250px" >
            <mat-label>Choisissez un open space</mat-label>
            <mat-select #val   (selectionChange)="orgValueChange(val.value)" formControlName="open">
              <mat-option *ngFor="let openSpace of openSpaces" [value]="openSpace.id">
                                {{openSpace.name}}
                                </mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
        <!-- #docregion toggle -->
          <input matInput #ref [matDatepicker]="picker" [matDatepickerFilter]="myFilter" (dateChange)="orgValueChange(ref.value)" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        <!-- #enddocregion toggle -->
        </mat-form-field>
        </div>

        <div>
          <button mat-raised-button  color="primary" [disabled]="!(this.endHour && this.startHour)" matStepperNext>Next</button>
        </div>
      </form>
      <div id="start-hour">
      <h3>Heure d'arrivé</h3>
      <section class="example-section">
      <mat-checkbox  color="primary"  *ngFor="let hour of getStartHours();" (change)="startRes(hour.hour)" [disabled]="hour.isDisabled" >
            {{hour.hour}}
      </mat-checkbox>
      </section>
      </div>
      <div id="end-hour">
      <h3>Heure de départ</h3>
            <section class="example-section">
                  <mat-checkbox  color="primary"  *ngFor="let hour of getEndHours();"  (change)="endRes(hour.hour)" [disabled]="hour.isDisabled" >
                        {{hour.hour}}
                  </mat-checkbox>
                  </section>
      </div>

    </div>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <!-- #enddocregion label -->


          <mat-radio-group [(ngModel)]="roomId">
          <div *ngFor="let available of getRooms(); let i = index" style="width: 30%; display:inline-block;">
             <mat-card class="example-card">
             <mat-card-header>
             <mat-card-title>{{available.room.name}}</mat-card-title>
             <mat-card-subtitle>Dog Breed</mat-card-subtitle>
             </mat-card-header>
             <img mat-card-image src="assets/cowk.jpg" alt="Photo of a Shiba Inu">
             <mat-card-content>
             <p>
             {{ available.room.description }}
             </p>
             </mat-card-content>
             <mat-radio-button class="example-margin" [disabled]="!available.available" value="{{available.room.id}}">Reserver</mat-radio-button>
             </mat-card>
          </div>
          </mat-radio-group>
          <mat-list role="list">
          <form class="example-container">
          <div *ngFor="let tool of getTools(); let i = index" style="" >
            <mat-list-item role="listitem">{{tool.name}}</mat-list-item>
            <input matInput type="number" min="0" max="3">
          </div>
          </form>
          </mat-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="reserve()">Reserver !</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
