



<!--<img src="assets/espace-de-coworking.jpg" style="width:100%;height:50%" />-->
<!--<div style="width:100%"> Co working  </div>-->

  <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">CO WORKING</div>
                        <h2>Co working vous propose des espaces de travails comme vous n'en avez jamais vu !</h2>
                        <p>Plusieurs site sont présent sur Paris comportant differents espace afin que vous et vos équipe soit dans les meilleurs conditions pour realiser vos projets  </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/espace-de-coworking.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->


 <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-wifi fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Wifi Haut-debit</h4>
                            <p>Une connection wifi stable et performante est mise a disposition dans tous les espaces de travails</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-utensils fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">De bon petits plats !</h4>
                            <p>Des panier repas peuvent être commander lors de la reservation de salle. La maison vous proposera des menu divers et varié pour reprendre des forces pendant votre pause déjeuner !</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-laptop fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Matériel informatique</h4>
                            <p>Sur nos différent sites vous pouvez empruntez du matériel informatique (ordinateurs,imprimantes...).</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->




    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">ABONNEMENTS</div>
                    <h2>Vous commencez a vous plaire dans nos espaces ?<br>
                        Prenez un abonnement <!doctype html>
                        <html lang="fr">
                        <head>
                        <meta charset="UTF-8">
                                     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                                                 <meta http-equiv="X-UA-Compatible" content="ie=edge">
                                     <title>Document</title>
                        </head>
                        <body>

                        </body>
                        </html></h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card" style="margin-left: 20%">
                        <div class="card-image">
                            <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Abonnement simple</h3>
                            <p>Pour ceux qui souhaite faire des réservations de salles de temps à autre parfait pour les grandes réunions mensuels</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">4€ par heure ou 20€ la journée (5heures)</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Accès au openSpace</div>
                                </li>
                            </ul>
                            <p class="price">Prix : <span>24€/mois</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="/add-subscription">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="assets/images/services-2.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Abonnement résident</h3>
                            <p>Pour ceux qui sont habitué des espaces de coworking et qui souhaite venir a n'importe qu'elle moment de la journée</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Accès en ilimité 7/7j a l'espace de coworking</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">300€/mois ou  252€/mois pendant 8 mois</div>
                                </li>
                            </ul>
                            <p class="price">Prix : <span>300€/mois</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="/add-subscription">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->

